.footer{
    margin-top: 75px;
    padding-top: 30px;
    background: #171a1e;
    color: black;
    bottom: 0
}


.container_footer
{
    display: flex;
    justify-content: center;
}
.footer__text{
    color: white;
    font-size: 14px;
}