.block__success{
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 15px;
    border: 1px solid #00ff37;
    z-index: 1000;
}

.block__error{
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #eb0505;
    border-radius: 15px;
    z-index: 1000;
}