

.crumbs{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
    line-height: 1.5;
    font-size: 13px;
    font-weight: 500;
    overflow-x: auto;
    flex-wrap: nowrap;
}

.breadcrumbs-list{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    line-height: 1.5;
    font-size: 13px;
    font-weight: 500;
}

.breadcrumb-item{
    list-style-type: none; /* Убираем нумерацию */
  padding: 0;
}

.crumbs__item{
    white-space: nowrap;
    color: #7F8FA4;
    margin-right: 15px;
}

.crumbs__item.active{
    color: #1967d2;
}

.h1__title {
  padding: 20px 20px;
  padding-bottom: 10px;
  background: white;
  border-bottom: 1px solid #e1e8ee;
  width: 100%;
}

.title {
  font-family: "Inter", sans-serif;
  color: black;
  font-size: 20px;
}
.car__title-tags {
  display: flex;
  margin-top: 10px;
}

.car__title-tags span {
  font-size: 14px;
  color: #808080;
  margin-right: 15px;
}

.car-info .container{
    display: flex;
    justify-content: space-between;
    background: white;
    max-width: 1110px;
}

.car-info__left{
    width: 70%;
    padding: 20px;
}

.car-info__right{
    padding-top: 20px;
    width: 30%;
    display: flex;
    flex-direction: column;
}

.car-main.price{
    padding: 0;
    margin: 0;
    padding-right: 20px;
}

.car-main.car_all_price{
    display: flex;
    align-items: center;
}

.price__byn{
    font-family: 'Inter',sans-serif;
    font-size: 22px;
    color: #1967d2;
}

span.price__usd{
    margin: 0;
    margin-left: 12px;
}

.car_main.params{
    border-radius: 0;
    box-shadow: none;
    padding: 10px 20px;
    padding-left: 0;
}

.params__param{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 6px 0;
}

.car-main.management{
    margin-top: 20px;
    display: flex;
    align-items: center;

    .car-main.delete-announcement{
        button{
            color: white;
            font-weight: 400;
            margin: 0;
            padding: 10px;
            background-color: #d83e3e;
            border-radius: 12px;
        }
    
        button:hover{
            background-color: gray;
        }
    }

    .car-main.update-announcement{
        margin-left: 20px;
        
        button{
            color: white;
            font-weight: 400;
            margin: 0;
            padding: 10px;
            background-color: #1967d2;
            border-radius: 12px;
        }

        button:hover{
            background-color: gray;
        }
    }
}



.car-main.owner-block{
    margin-top: auto;
    padding-bottom: 0;
}

.owner-info{
    padding: 0;
    margin: 10px 0;
}

.owner-info__avatar{
    display: flex;
    align-items: center;
}

.owner-info__avatar img{
    border-radius: 50%;
    width: 50px;
}

.owner-info__name{
    margin-left: 15px;
}

h3.owner__name{
    margin: 0;
    margin-bottom: 3px;
    font-weight: 400;
}

span.owner__city{
    font-size: 14px;
    color: #808080;
}

.car-main__btn{
    display: flex;
    align-items: center;
}

.show-contact__btn{
    height: 100%;

}

.show-contact__btn button{
    padding: 10px;
    font-size: 15px;
    color: white;
    background: #1967d2;
    border: none;
    border-radius: 5px;
    text-align: center;
    width: 100%;
    font-weight: 400;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.show-contact__btn button:hover{
    background: #0f4b8e;
}

.send-message-user{
    text-align: center;
}

.send-message__btn{
    display: flex;
    align-items: center;
    padding: 8px;
    margin-left: 10px;
    background: #8080808e;
    border-radius: 5px;
}

.send-message__btn:hover{
    background: #808080;
}

.send-message__btn img{
    width: 25px;
}


.bookmarks{
    display: flex;
    cursor: pointer;
    align-items: center;
    padding: 8px;
    margin-left: 10px;
    background: #8080803f;
    border-radius: 5px;

    img{
        width: 25px;
    }
}

.bookmarks.active{
    background: #d83e3e;
}



.car-info__description{
    width: 100%;
    padding: 0;
}

.technical-description{
    padding: 20px;
    padding-top: 0;
    padding-bottom: 0;
    border-top: 1px solid #E1E8EE;
    margin-top: 20px;
}

.car-info__title{
    margin: 20px 0 15px;
    position: relative;
    font-weight: 900;
    color: black;
    font-family: 'Inter',sans-serif;
    font-size: 16px;
}

.car-info__text{
    font-size: 15px;
    line-height: 1.6;
    padding-bottom: 20px;
    width: 70%;
}