.header{
    background: white;
    width: 100%;
    margin-bottom: 30px;
}

.container{
    width: 1110px;
    padding: 0;
    display: flex;
    justify-content: space-between;
}   

.header__logo{
    display: flex;
    align-items: center;
    height: 60px;
    text-decoration: none;
}

.header__logo-img{
    width: 20px;
    height: 21.84px;
    margin-right: 5px;
}

.header__logo-text{
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    color: black;
}

.header__profile{
    display: flex;
    align-items: center;
    margin: 0 20px 0 0;

}

.header__profile.btn--notice{
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.header__profile.btn--notice:hover{
    p{
        color: #1967d2;
    }
}

.header__profile-notice img{
    width: 25px;
    height: 25px;
    margin: 0;
}


.header__profile-notice{
    position: relative;
}

.header__profile-notice span{
    position: absolute;
    top: -5px;
    right: -9px;
    background: #e82222;
    color: #fff;
    font-size: 11px;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 17px;
    border-radius: 50%;
    border: 2px solid #fff;
}

.header__profile.btn--notice p{
    margin: 0;
    font-size: 13px;
    color: #808080;
}

.header__profile.btn--favorites{
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.header__profile.btn--favorites:hover{
    p{
        color: #1967d2;
    }
}

.header__profile.btn--favorites img{
    width: 25px;
    height: 25px;
    margin: 0;
}

.header__profile.btn--favorites p{
    margin: 0;
    font-size: 13px;
    color: #808080;
}

.header__profile.btn--announcement{
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.header__profile.btn--announcement:hover{
    p{
        color: #1967d2;
    }
}

.header__profile.btn--announcement img{
    width: 25px;
    height: 25px;
    margin: 0;
}

.header__profile.btn--announcement p{
    margin: 0;
    font-size: 13px;
    color: #808080;
}

.header__profile.btn--messages{
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.header__profile.btn--messages:hover{
    p{
        color: #1967d2;
    }
}

.header__profile.btn--messages img{
    width: 25px;
    height: 25px;
    margin: 0;
}

.header__profile.btn--messages p{
    margin: 0;
    font-size: 13px;
    color: #808080;
}

.header__profile-link{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.header__profile-link:hover{
    p{
        color: #1967d2;
    }
}

.header__profile-link img{
    width: 25px;
    height: 25px;
    margin: 0;
    border-radius: 50%;
}

.header__profile-link p{
    margin: 0;
    font-size: 13px;
    color: #808080;
}


.header__profile.btn--enter{
    cursor: pointer;
    display: flex;
    align-items: center;
    margin: 0 15px;
    padding: 8px 12px;
    border: 1px solid #E1E8EE;
    border-radius: 5px;
    background: white;
}

.header__profile.btn--enter span{
    font-size: 14px;
    color: black;
}

.header__profile.btn--sale{
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 8px 12px;
    margin: 0;
    border: none;
    background-color: #1967d2;
    color: white;
    border-radius: 5px;
}

.header__profile.btn--sale span{
    font-size: 14px;
    color: white;
}